			#cookie-monster {
				position: fixed;
				height: 110px;
				background:#CCC;
				border: 1px solid #333;
				width: 100%;
				top: 0;
				left: 0;
				font-size: 11px;
				padding: 10px;
			}
						
			#cookie-monster > p {
				width: 60%;
				float: left;
				font-family: arial;
				margin-top: -5px;
				font-size: 11px;
				color: #666;
			}
			
			#cookie-monster span {
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 5px;
				color: #000;
			}
			
			#cookie-monster > div {
				width: 20%;
				float: right;
				text-align: center;
			}
			
			#cookie-monster .cookie-monster-btn {
				width: 120px;
			}
